.btn
{
    padding: 5px 20px;
}

.btn.btn-laranja
{
    display: block;
    margin: 5px 1px;
    text-decoration: none;
    color: #ff0000;
    background-color: #ffffff; /* Laranja */
    transition: background-color 1.0s;
    border-radius: 15px; /* Arredonda as bordas */
}
.btn.btn-laranja:hover {
    background-color: #000000; /* Laranja mais escuro */
    
}