@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import 'header.css';
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "DotGothic16", sans-serif;
    vertical-align: baseline;

}